# ベーシック認証について
# API型は、全ての通信においてベーシック認証を必須としています。ベーシック認証のIDおよびパスワードは、設定完了時に加盟店担当者へお送りします。
# https://developer.sbpayment.jp/system-specifications/api-type/3746/
SBPS_BASIC_AUTHORIZATION_ID=
SBPS_BASIC_AUTHORIZATION_PASSWORD=
SBPS_HASH_KEY=